extends layout 
 
block content 
  h1(class="container-fluid p-2 bg-secondary text-dark text-center")= title 
  if (toShow == null) 
    h2 No instance to detail  
  else 
    - let Employeeid = toShow._id 
    - let Employee_Name = toShow.Employee_Name 
    - let Employee_Salary = toShow.Employee_Salary 
    - let Employee_Id = toShow.Employee_Id
    - let Employee_Department = toShow.Employee_Department
    div(class = 'p-2 text-center text-dark',style='background-color:blue') 
        div.row 
            div(class='EmployeeAttr mr-3') Employee ID is: 
            div #{Employeeid} 
        div.row 
            div(class='EmployeeAttr mr-3') Employee Name is: 
            div #{Employee_Name} 
        div.row 
            div(class='EmployeeAttr mr-3') Employee Salary is: 
            div #{Employee_Salary} 
        div.row 
            div(class='EmployeeAttr mr-3') Employee Id is: 
            div #{Employee_Id} 
        div.row 
            div(class='EmployeeAttr mr-3') Employee Department is: 
            div #{Employee_Department} 